body {
    font-family: 'Georgia', sans-serif;
    margin: 0;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}


h1 {
    font-size: 2.5em;
    color: #001f3f; 
}

h3 {
    font-size: 1.5em;
    color: #001f3f; 
    text-align: center;
}

p {
    font-size: 1em;
}

header {
    background-color: #000000;
}

header .logo {
    margin: 0;
    padding: 20px 30px;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 10px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

header a:hover {
    color: #dbc9a4;
}


.seccion-titulo {
    text-align: center;
    padding: 60px 20px;
}


.seccion-inicio {
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.seccion-inicio img {
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 1s ease;
}

.seccion-inicio img:hover {
    cursor: pointer;
    opacity: 1;
    filter: contrast(110%);
}


#categoria {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 60px 20px;
}

.categoria-item {
    text-align: center;
}

.categoria-item img {
    width: 350px;
    height: 280px;
    border-radius: 10px;
    border: 3px solid #001f3f;
}


.linea {
    width: 80%;
    height: 3px;
    background-color: #001f3f;
    margin: 10px auto 30px;
    border-radius: 2px;
}


#contacto p {
    color: #000;
}


footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    color: #dbc9a4;
}